* {
    margin: 0;
}

.map-container {
    height: 90vh;
    width: 90vw;
}

.info-box {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20px;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 999999;
    display: none;
}

.theme {
    z-index: 99999999;
    position: absolute;
    width: 23px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 70px;
}

.st-sat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    width: 76px;
    height: 30px;
    border-radius: 0;
    outline: none;
    border: 0.5px solid rgb(77, 77, 77);
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}